.cs_tasks_all_div {
  width: 100%;
}
.cs_all_tasks_heading {
  margin: 0;
  padding: 0.5rem 0.7rem;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid rgb(247, 238, 238);
}
.cs_total_task_count_div {
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
  /* background-color: red; */
}
.cs_total_task_count_bg {
  background-color: rgba(118, 118, 199, 0.697);
  padding: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.cs_task_count_head {
  font-size: 1rem;
}
.cs_top_bar_headings_div {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 0.1rem solid rgb(247, 238, 238);
  flex: 1;
}
.cs_top_bar_head {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}
.cs_tasks_first_div_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-self: center; */
  /* align-content: center; */

  /* height: 5rem; */
  padding: 1rem;

  border-bottom: 0.1rem solid rgb(247, 238, 238);
}
.cs_tasks_first_div_all:hover {
  background-color: #f4eeee;
}
.cs_tasks_second_div_profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.cs_tasks_right_tick {
  background-color: rgb(108, 211, 108);
  padding: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs_right_head {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.cs_tasks_wrong_tick {
  /* background-color: rgba(87, 190, 87, 0.73); */
  background-color: rgb(233, 190, 190);
  padding: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs_tasks_profile_bg_div {
  /* background-color: rgb(220, 189, 151); */
  background-color: #f4eeee;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs_tasks_icon_profile {
  font-size: 1rem;
  fill: rgb(146, 132, 132);
}
.cs_tasks_profile_content_div {
  display: flex;
  gap: 0.8rem;
}
.cs_tasks_head_content_div {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.cs_task_name_para {
  font-size: 1rem;
  font-weight: 600;
}

.cs_task_profile_name {
  font-size: 1rem;
}

.cs_common_font {
  font-size: 1rem;
}
